body {
    text-align: center;
}

table {
    border: 1px solid black;
    margin: 30px auto;
    border-collapse: collapse;
}

td {
    cursor:pointer;
    border-radius: 2px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    padding: 30px;
}


.clock {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 140px;
    /* border: 5px solid green; */
    /* border-radius: 20%; */
}
                          